*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar,.navbar-admin{
    width:100%;
    background-color:#2F4F4F;
    overflow:auto;
}

.navbar a{
    float:left;
    padding:1vh;
    color:white;
    text-decoration:none;
    font-size:3vh;
    width:16.6%;
    text-align:center;
}
.navbar-admin a{
    float:left;
    padding:1vh;
    color:white;
    text-decoration:none;
    font-size:3vh;
    width:14.2%;
    text-align:center;
}

.navbar a:hover,.navbar-admin a:hover {
  background-color: #708090;
}

.navbar-admin a.active {
  background-color: #0000FF;
}

#btn{
    border-radius: 2px;
    font-family:'Arbutus Slab';
    padding:1px;
    text-align:center;
    margin-left:25%;
}

.form-class{
    padding:2vh;
    text-align:left;
    font-size:2vh;
    font-family:'Arbutus Slab';
    margin-left: 35%;
    margin-right: 35%;
    margin-top:35vh;
}



