<script>
    $(document).ready(function(){
        $("#id_market").change(function(){
            var market=$("#id_market").children("option:selected").val();
            $("#id_market1").val(market);
            var x=$("#id_outright1").children("option:selected").val();
            $("#id_market2").val(market);
            var x=$("#id_outright1").children("option:selected").val();
            $("#id_market3").val(market);
            var x=$("#id_outright1").children("option:selected").val();
            $("#id_market4").val(market);
            var x=$("#id_outright1").children("option:selected").val();
        });
    });
</script>